<div class="flex justify-between w-full overflow-hidden">
	<div class="text-black p-2 font-semibold text-lg">Add Project</div>
</div>

<div class="w-full mt-2.5 rounded-lg shadow-md overflow-hidden border border-gray-700 bg-gray-800">
	<!-- Card Content -->
	<div class="relative overflow-x-auto shadow-md sm:rounded-lg p-6">
		<form action="/admin/project/store" method="post" class="w-full mx-auto space-y-6" enctype= multipart/form-data>
			<div class="grid grid-cols-2 gap-6">
				<!-- Skill Name Input -->
				<div>
					<label
						for="name"
						class="block mb-2 text-sm font-medium text-gray-300"
						>Project Name</label
					>
					<input
						type="text"
						id="name"
						name="name"
						placeholder="Skill Name"
						required
						class="bg-gray-700 border border-gray-600 text-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 h-10"
					/>
				</div>

				<!-- File Upload Input -->
				<div>
					<label
						for="image"
						class="block mb-2 text-sm font-medium text-gray-300"
						>Upload File</label
					>
					<div class="flex items-center">
						<label
							for="image"
							class="bg-blue-600 text-white px-4 py-2 rounded cursor-pointer hover:bg-blue-700 transition duration-300"
						>
							Choose File
						</label>
						<span
							id="image-file"
							class="ml-4 text-gray-300"
							>No file chosen</span
						>
						<input
							type="file"
							id="image"
							name="image"
							class="hidden"
							onchange="document.getElementById('image-file').textContent = this.files[0] ? this.files[0].name : 'No file chosen'"
						/>
					</div>
				</div>
				<div>
					<label
						for="level"
						class="block mb-2 text-sm font-medium text-gray-300"
						>Proficiency Level</label
					>
					<select
						id="level"
						name="level"
						required
						class="bg-gray-700 border border-gray-600 text-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 h-10"
					>
						<option value="" selected disabled>Select level</option>
						<option value="beginner">Beginner</option>
						<option value="intermediate">Intermediate</option>
						<option value="advanced">Advanced</option>
					</select>
				</div>
				<div>
					<label
						for="order"
						class="block mb-2 text-sm font-medium text-gray-300"
						>Order No</label
					>
					<input
						type="number"
						name="order"
						id="order"
						required
						class="bg-gray-700 border border-gray-600 text-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 h-10"
					>
				</div>
			</div>

			<!-- Submit Button -->
			<div class="flex justify-end">
				<button
					type="submit"
					class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 transition duration-300"
				>
					Submit
				</button>
			</div>
		</form>
	</div>
</div>
