<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Admin</title>
		<link
			rel="stylesheet"
			href="/Css/Output.css"
		/>
		<link
			rel="stylesheet"
			href="/Css/Global.css"
		/>
	</head>
	<body class="expanded">
		<%- include('./Partials/Sidebar.ejs') %>
		<div class="main-container">
			<%- include('./Partials/Header.ejs') %>
			<section class="main-content">
				<div class="inner-section"><%- Section %></div>
			</section>
			<%- include('./Partials/Footer.ejs') %>
		</div>
		<script>
			// Sidebar toggle
			const toggleBtn = document.getElementById("toggleBtn");
			const sidebar = document.getElementById("sidebar");

			toggleBtn.addEventListener("click", () => {
				sidebar.classList.toggle("collapsed");
			});
		</script>
	</body>
</html>
