<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Admin</title>
		<link
			rel="stylesheet"
			href="/Css/Output.css"
		/>
		<link
			rel="stylesheet"
			href="/Css/Global.css"
		/>
	</head>
	<body>
		<%- include('./Partials/Header.ejs') %>
		<section><%- Section %></section>
		<%- include('./Partials/Footer.ejs') %>
	</body>
</html>
