<header>
	<nav>
		<ul>
			<li>
				<form
					action="/admin/auth/logout"
					method="POST"
					style="display: inline; cursor: pointer;"
				>
					<div class="flex items-center">
						<i class="fa-solid fa-arrow-right-from-bracket"></i>
						&nbsp;
						<button
							type="submit"
							style="border: none; background: none; cursor: pointer; color: inherit"
						>
							Logout
						</button>
					</div>
				</form>
			</li>
		</ul>
	</nav>
</header>
