<div
	class="sidebar"
	id="sidebar"
>
	<!-- Toggle Button -->
	<div
		class="toggle-btn"
		id="toggleBtn"
		onclick="collapse()"
	>
		<i class="fa-solid fa-bars fa-lg"></i>
	</div>

	<!-- Sidebar Links -->
	<div>
		<ul class="my-5 mx-2">
			<li class="side-menu-list mb-1.5 rounded-md cursor-pointer <%= activeUrl === '/admin/dashboard' ? 'bg-white text-black' : 'hover:bg-white hover:text-black' %>">
				<a href="/admin/dashboard"><i class="fa-solid fa-table-columns fa-lg"></i><span class="side-bar-text">Dashboard</span></a>
			</li>
			<li class="side-menu-list mb-1.5 rounded-md cursor-pointer <%= activeUrl === '/admin/skills' ? 'bg-white text-black' : 'hover:bg-white hover:text-black' %>">
				<a href="/admin/skills"><i class="fa-solid fa-code fa-lg"></i><span class="side-bar-text">Skills</span></a>
			</li>
			<li class="side-menu-list mb-1.5 rounded-md cursor-pointer <%= activeUrl === '/admin/projects' ? 'bg-white text-black' : 'hover:bg-white hover:text-black' %>">
				<a href="/admin/projects"><i class="fa-solid fa-list-check fa-lg"></i><span class="side-bar-text">Projects</span></a>
			</li>
			<li class="side-menu-list mb-1.5 rounded-md cursor-pointer hover:bg-white hover:text-black">
				<form
					action="/admin/auth/logout"
					method="POST"
				>
					<button type="submit"><i class="fa-solid fa-arrow-right-from-bracket fa-lg"></i><span class="side-bar-text">Logout</span></button>
				</form>
			</li>
		</ul>
	</div>
</div>

<script>
	let state = 0;
	function collapse() {
		const sidebarTextElements = document.querySelectorAll(".side-bar-text");
		const toggleButton = document.querySelector(".toggle-btn");

		if (state === 0) {
			sidebarTextElements.forEach((element) => {
				element.style.display = "none";
			});
			state = 1;
			toggleButton.innerHTML = `<i class="fa-solid fa-xmark fa-xl"></i>`;
			toggleButton.classList.add("rotate");
		} else {
			setTimeout(() => {
				sidebarTextElements.forEach((element) => {
					element.style.display = "";
				});
			}, 200);
			toggleButton.innerHTML = `<i class="fa-solid fa-bars fa-lg"></i>`;
			toggleButton.classList.remove("rotate");
			state = 0;
		}
	}
</script>
